/*
/////////////////////////////////////////////////////////////////////////
//
// (c) University of Southampton IT Innovation Centre, 2016
//
// Copyright in this software belongs to University of Southampton
// IT Innovation Centre of Gamma House, Enterprise Road,
// Chilworth Science Park, Southampton, SO16 7NS, UK.
//
// This software may not be used, sold, licensed, transferred, copied
// or reproduced in whole or in part in any manner or form or in or
// on any media by any person other than in accordance with the terms
// of the Licence Agreement supplied with the software, or otherwise
// without the prior written consent of the copyright owners.
//
// This software is distributed WITHOUT ANY WARRANTY, without even the
// implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE, except where stated in the Licence Agreement supplied with
// the software.
//
//      Created By :            Stefanie Wiegand
//      Created Date :          2016-05-23
//      Created for Project :   REVEAL
//
/////////////////////////////////////////////////////////////////////////
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}body{font-family:"Ubuntu",Helvetica,sans-serif;font-weight:300;font-size:1.1em;line-height:1.2em;background:#E9FDE3;color:#47336E}strong{font-weight:600}h1,h2,h3,h4,h5,h6{font-family:'Ubuntu',Helvetica,sans-serif;font-weight:600;color:#4B00A1;font-size:1.75em;margin-bottom:.4em}p{margin-bottom:.5em}.container{width:80%;max-width:1200px;margin:0 auto;margin-top:10px}@media all and (max-width:500px){h2{padding-left:10px;text-align:center}.container{width:100%}}
